.heading {
  &-secondary {
    font-size: 3rem;
    font-weight: 600;
    color: $color-primary;
    text-shadow: 0 0.1rem 0.2rem $color-primary-dark;    
    padding: 0.5rem 1.5rem;
    text-decoration: underline;
  }
  &-tertiary {
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
    text-shadow: 0 0.1rem 0.2rem $color-primary-dark;    
    padding: 0.5rem 1.5rem;
  }
}
